* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #1f1e1e;
    color: white;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    min-height: 95vh;
    padding: 30px;
    gap: 30px;
    width: 100%;
}

div {
    width: fit-content;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: top;
}

img {
    width: 300px;
    height: 300px;
}

footer {
    grid-area: footer;
    height: 5vh;
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 10px;
    background-color: #1f1e1e;
    align-items: center;
    justify-content: center;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer a:hover {
    color: rgb(163, 163, 163);
}

.seta {
    border: 1px solid white;
    padding: 0px 10px;
    border-radius: 5px;
    transition: 0.25s ease-in-out;
}

.seta:hover {
    background-color: rgb(58, 58, 58);
    transform: scale(1.05);
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        justify-content: center;
        padding: 30px;
        gap: 10px;
    }
    div {
        width: 100%;
        max-width: 100%;
    }
    img {
        width: 70%;
    }
}
