* {
    /* box model composto por margin > border > padding > content */
    margin: 0;
    padding: 0;
    /* tamanho do elemento composto ignora borda no layout */
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#pai {
    height: 100vh;
    display: flex;
    flex-direction: row; /* alinha os filhos no eixo principal */

    /* flex-direction: column; muda a direção do eixo principal para vertical */
    /* flex-direction: row-reverse; inverte a direção do eixo principal */
    /* flex-direction: column-reverse; inverte a direção do eixo principal para vertical */

    justify-content: center; /* alinha os filhos no eixo principal */

    /* justify-content: flex-start; alinha os filhos no início do eixo principal */
    /* justify-content: flex-end; alinha os filhos no final do eixo principal */
    /* justify-content: space-between; alinha os filhos com espaço entre eles */
    /* justify-content: space-around; alinha os filhos com espaço ao redor deles */
    /* justify-content: space-evenly; alinha os filhos com espaço igual entre eles */

    flex-wrap: wrap; /* permite que os filhos quebrem a linha se não houver espaço suficiente */

    /* flex-wrap: nowrap; não permite que os filhos quebrem a linha */
    /* flex-wrap: wrap-reverse; inverte a direção da quebra de linha */

    align-items: center; /* alinha os filhos no eixo transversal */

    /* align-items: flex-start; alinha os filhos no início do eixo transversal */
    /* align-items: flex-end; alinha os filhos no final do eixo transversal */
    /* align-items: stretch; estica os filhos para preencher o espaço disponível */
    /* align-items: baseline; alinha os filhos na linha de base do texto */

    gap: 20px; /* espaço entre os filhos. funciona com top, rigth, bottom, left*/

    /* row-gap: 20px; espaço entre os filhos na direção do eixo transversal */
    /* column-gap: 20px; espaço entre os filhos na direção do eixo principal */
}

.caixa {
    background-color: #f0f0f0;
    border: 1px solid #000;
    width: 250px;
    height: 250px;
    padding: 20px;
}
