@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=National+Park:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Inter, sans-serif;
}

.navHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}

.navHead-left {
    display: flex;
    gap: 25px;
    align-items: center;
}

.navHead-right {
    display: flex;
    gap: 25px;
    align-items: center;
}

.navHead-right a {
    text-decoration: none;
    color: #1323D4;
    font-size: 30px;
    font-weight: 700;
}

.navList ul {
    border-bottom: 2px solid #F5F6F7;
    border-top: 2px solid #F5F6F7;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.bar {
    height: 50px;
    border: 1px solid #F5F6F7;
}

.navList ul li a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

.item1 {
    color: #F03018;
}
.item2 {
    color: #4B70AE;
}
.item3 {
    color: #338585;
}
.item4{
    color: #1FB25A;
}
.item5{
    color: #FF9033;
}
.item6{
    color: #FC355D;
}
.item7{
    color: #FF8533;
}
.item8{
    color: #B74397;
}
.item9{
    color: #4d4d4d;
}
.item10{
    color: #0e0e0e;
}